@model WebSpectra.Decoders.IMode
@using WebSpectra.MetaData
@using WebSpectra.Views
<table id="table-modeParameters">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
    </thead>
        
    @foreach (var lParam in Model.Parameters)
    {
        <tr >
            <td ><label class="parameterName">@lParam.GetDisplayName()</label></td>
            <td> 
                @Html.Partial("_ModeParameter", lParam)
            </td>
        </tr>
    }
</table>


