<div id="rowTop" class="row">
    <div class="col-md-3">
        Mode: 
        <select id="select-currentmode" data-bind="options: supportedModes(), optionsText: 'name', value: currentMode">
        </select>
    </div>
    <div class="col-md-7">
        &nbsp;
    </div>
    <div class="col-md-2">
        <div id="divConfidence">
            Confidence:
            <label data-bind="text: confidence"></label>%
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-12">
        <canvas id="canvasFFT"  width="2048" height="400"></canvas>
    </div>
</div>

 
<div class="row">
    <div class="col-md-7">
        <textarea id="textareaOutput"></textarea>
    </div>
    <div class="col-md-5">
        <div id="divParameters">
            <h2>Parameters</h2>
            <ul id="ul-parameters" data-bind="template: { name: getparametertype, foreach: currentMode().parameters() }">
            @*<ul id="ul-parameters" data-bind="template: { foreach: currentMode().parameters() }">
                <li class="parameter-validnamedvalues" data-bind="template: {if:type=='namedselect'}">
                    <span data-bind="text: name"> </span>
                    <select type="text" data-bind="value: value, options: validnamedvalues, optionsText: 'Key', optionsValue:'Value'" />
                </li>
                <li class="parameter-validvalues" data-bind="template: {if:type=='select'}">
                    <span data-bind="text: name"> </span>
                    <select type="text" data-bind="value: value, options: validvalues" />
                </li>
                <li class="parameter-raw" data-bind="template: {if:type=='text'}">
                    <span data-bind="text: name"> </span>
                    <input type="text" data-bind="value: value" />
                </li>*@
            </ul>
        </div>
    </div>
</div>
<script type="text/html" id="raw">
    <li class="parameter-raw">
        <span data-bind="text: name"> </span>
        <input type="text" data-bind="value: value" />
    </li>
</script>
<script type="text/html" id="dropdown">
    <li class="parameter-validvalues">
        <span data-bind="text: name"> </span>
        <select type="text" data-bind="value: value, options: validvalues" />
    </li>
</script>
<script type="text/html" id="nameddropdown">
    <li class="parameter-validnamedvalues">
        <span data-bind="text: name"> </span>
        <select type="text" data-bind="value: value, options: validnamedvalues, optionsText: 'Key', optionsValue:'Value'" />
    </li>
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/webspectra.js"></script>

}

