body, html {
    width: 100%;
    height:100%;
    margin: 0;
    padding:0;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

header {
    display:block;
    background-color: #eeeeee;
    border-bottom: 1px black solid; 
    margin-bottom:10px;
    }
    header > h2 {
        cursor:pointer;
        margin:0;
        padding:5px;
        text-decoration:underline;
    }

    header > div {
        display: none;
        padding:0;
        height:auto;
    }


.visibleExplanation {
    display: block;
    width:calc(100% - 50px);
    margin-left: 50px;
    padding-bottom: 20px;
}



body > div {
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
}
#div-top {
    padding-bottom:10px;

}
#div-modeselection {
    display:inline;
}

#labelConfidence {
    float:right;
}

#div-fft {
    height:calc(50% - 65px);
    padding-top:10px;
    padding-bottom:10px;
}

#canvas-fft {
    border-color:gray;
    border-width:2px;
    border-style:ridge;
    width:calc(100% - 4px);
    height: calc(100% - 4px);
}

#div-bottom {
    height:calc(50% - 65px);
    padding-top:10px;
    padding-bottom:10px;
}

@media all and (min-width:800px) and (orientation: landscape){
    #textarea-decoderOutput{
        display:inline;
        float:left;
        width:75%;
        height:100%;
        resize:none;
    }

    #div-modeParameters {
        float: right;
        width: calc(25% - 10px);
        height: 100%;
    }
    
}
@media all and (max-width: 800px), (orientation:portrait) {
    body, input, select{
        font-size:xx-large;
    }
    #textarea-decoderOutput {
        display: block;
        width: 100%;
        height: 300px;
        resize: none;
        font-size:xx-large;
    }

    #div-modeParameters {
        display:inline-flexbox;
    }
}

#table-modeParameters {
    width:100%;
    padding:5px;
    margin:auto;
}
#table-modeParameters td {
    vertical-align:top;
    width:auto;
    padding-bottom:5px;
}


#table-modeParameters th  {
    text-align:center;
    border-bottom-style:solid;
    border-bottom-color:black;
    border-bottom-width:1px;
}

.parameterName {
    width:100%;
    padding:5px;
}

.parameterInput {
    width:100%;
}
.parameterSelect {
    width:100%;
}

.parameterCheckboxLabel {
    align-self:center;
}





